absl-py
altair
asgiref
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
commonmark
contourpy
cycler
decorator
entrypoints
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
Jinja2
joblib
jsonschema
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
missingno
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
patsy
Pillow
plotly
plotly-express
protobuf
pyarrow
pyasn1
pyasn1-modules
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
seaborn
semver
six
smmap
sqlparse
statsmodels
streamlit
streamlit-option-menu
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit 2.5.0
tensorflow-estimator 2.5.0
tensorflow-intel 2.5.0
tensorflow 2.5.0
tensorflow-io-gcs-filesystem 2.5.0
termcolor
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wrapt
zipp
